/Makefile
CMakeCache.txt
CMakeFiles
*.cmake
install_manifest.txt
/usteerd
/ap-monitor
/fakeap
.vscode/
*.patch
*.orig
obj-*
debian/.debhelper/
debian/*.debhelper
debian/debhelper-build-stamp
debian/*.debhelper.log
debian/*.substvars
debian/files
debian/usteer/
debian/usteer-tools/
debian/changelog
debian/tmp/

